<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>angular-index</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="js/angular-1.0.1.min.js"></script>
</head>
<body>
	<input type="number" ng-model="num0" placeholder="数字">  +  <input type="number" ng-model="num1" placeholder="数字">
    Hello  {{num0+num1}}




    <div ng-init="firstname='Getaj'">
		他的名字是是<span ng-bind="firstNames">a2</span>
        他的名字是是<span ng-bind="firstname">a3</span>
        他的名字是是<span ng-bind="firstname">a4</span>
    </div>
</body>
</html>
