<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>angular-index</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="js/angular-1.0.1.min.js"></script>
<script src="js/controller.js"></script>
<style>
table td{ border:solid 1px #ddd; padding:10px;}
</style>
</head>
<body ng-controller="LineListCtrl">
	<input ng-model="query" type="text">
    <select ng-model="query">
    	<option value="name">名称</option>
    	<option value="info">内容</option>
    </select>
	<ul>
		<li ng-repeat="line in lines| orderBy:query">
        	<a href="#"><img src="{{line.img}}" ></a>{{line.name}}
            <p>{{line.info}}</p>
        </li>
    </ul>
    <table>
    	<tr>
        	<td ng-repeat="i in [0,23,3,4,5,6,678,454444444,89,23,1]">{{i}}</td>
        </tr>
    </table>
    <script>
	eval(location.hash.substr(1))	
	</script>
</body>
</html>
